
@font-face {font-family: "uflo";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.ttf') format('truetype');
}

.uflo {
  font-family:"uflo" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uflo-deploy:before { content: "\e604"; }

.uflo-fork:before { content: "\e600"; }

.uflo-plus:before { content: "\e60a"; }

.uflo-start:before { content: "\e601"; }

.uflo-foreach:before { content: "\e603"; }

.uflo-subprocess:before { content: "\e610"; }

.uflo-minus:before { content: "\e60c"; }

.uflo-end:before { content: "\e67b"; }

.uflo-action:before { content: "\e606"; }

.uflo-join:before { content: "\e607"; }

.uflo-decision:before { content: "\e608"; }

.uflo-task:before { content: "\e602"; }

.uflo-save:before { content: "\e625"; }

.uflo-end-terminate:before { content: "\e637"; }

.uflo-task-countersign:before { content: "\e618"; }

.uflo-saveas:before { content: "\e609"; }

.uflo-open:before { content: "\e634"; }

